.descripcion{
	font-family:'Courier New', Courier, monospace;
	font-size:.8em;
}

h1{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.item { /* color item b치sico, sin tama침os, pensado para items con texto*/
	color:aliceblue;
	text-align:center;
	background-color:darkblue;
	font-family:'Courier New', Courier, monospace;
	margin:0.2em;
}

.item-no-margen { /* color item b치sico, sin tama침os, pensado para items con texto*/
	color:aliceblue;
	text-align:center;
	background-color:darkred;
	font-family:'Courier New', Courier, monospace;
	margin:0.0em;
}

.item-ancho {
	width:100px;
	height:30px;
	background-color:purple;	
}

.item-solo-ancho {
	width:100px;
	background-color:lightgreen;

}

.item-alto{
	width:100px;
	height:50px;
	background-color:darkcyan;
}

.item-muy-alto{
	width:100px;
	height:100px;
	background-color:red;
}

.item-inline{
	display:inline;
	background-color:darkgreen;
}
.item-inlineblock{
	display:inline-block;
	background-color:darkgreen;
}

.container {
		background-color:lightyellow;
		border:1px dashed darkred;
		margin:10px;
}

.container-flex{
	display:flex;
	/* flex-direction: row */
}

.container-direction-column{
	flex-direction:column;

}

.container-wrap {
	flex-wrap:wrap;
}

.container-alto {
	height:300px;
}

.justify-end{
	justify-content:flex-end;
}

.justify-center{
	justify-content:center;
}

.justify-around{
	justify-content:space-around;
}

.justify-between{
justify-content:space-between;

}

.justify-evenly{
	justify-content:space-evenly;

}

.column_row-gap{
	column-gap: 10px;
	row-gap: 5px;
}

.row-reverse{
	flex-direction:row-reverse;

}

.align-start{
	align-content:flex-start;
}

.align-end {
	align-content:flex-end;
}

.align-center {
	align-content:center;
}

.align-around{
	align-content:space-around;
}

.align-between{
align-content:space-between;

}

.align-evenly{
	align-content:space-evenly;
}

.align-stretch{
	align-items:stretch;
}

.flexwrap {
	flex-wrap:wrap;

}

.align-items-end {
	align-items:flex-end;

}

.align-self-center {
	align-self:center;
	background-color:black;
	color:white;

}



