
.item-base {
	/*width:30px;*/
	/*height:30px;*/
	/*margin: .5em;*/
	/*line-height:30px;*/
	color:aliceblue;
	text-align: center;
	background-color:purple;
	border:2px solid #add8e6;
	margin-bottom: 5px;
	margin-top:5px;
	padding:4px;
}

.descripcion {
	display:visible;
	border:1px dashed grey;
	color: darkgrey;
	margin-bottom:2em;
}

.flex-base {
	display: flex ; 
	flex-direction: row;
	background:lightyellow;
}

._min-content{
	width:min-content;
	background:darkorange;
}

._max-content{
	width:max-content;
	background:brown;
	color:orange;
}


.basis5em {
	background:olive;
	flex-basis:5em;
}

.basis1em{
	background:blue;
	flex-basis:1em;
/*	color:white;
*/
}


.basis20pc{
	background:darkgoldenrod;
	flex-basis:20%;
}


.uidz3em {
	background:orange;
	color:purple;
	width:3em;
	border:3px solid lightgreen;
}

.grou2{
	flex-grow:2;
	background:green;
	color:white;

}

.grou5 {
	flex-grow:5;
	background: lightgreen;
	color:darkblue;
}

.eshrin{
	flex-shrink:1;
	background:darkgray;
	color:green;
}

.noeshrin{
	flex-shrink:0;
	background-color:lightgray;
	color:red;
}


.p10porcien{
	flex:0 1 10em;
	background-color: darkorchid;
}

.p20porcien{
	flex:1 1 20%;
	background-color: lightcoral;
	color:black;
}

.p30porcien{
	flex:1 0 30%;
	background:violet;
}
.pflex_1_0_200px{
	flex:1 0 200px;
	background:darkgreen;
}


.p40porcien{
	flex:1 1  40%;
}


.basis15em {
	flex-basis:15em;

}

.eshrin5 {
	flex-shrink:5;
	background:lime;
	color:red;

}
