
body{
	background-image:radial-gradient(circle,#ffffdd,#faddff);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin:0px;
}

/********************************************************/
.grid-item {
	border:1px solid;
	border-radius:5px;
	text-align: center;
	/*padding:1rem;*/
	/*padding:0rem 0rem 0rem 0rem;*/
	font-size:1em;
	line-height: 100%;
	height:50px;
	background-color:lightgreen;
	
}



.gc{

	display:grid;
	grid-template-columns:auto auto auto;

	margin:3em;
	border:1px solid red;
	gap:4px;
}



.gc .grid-item:nth-child(5){
	grid-column-start:1;
}

.gc .grid-item:nth-child(11){
	grid-column-start:2;
}

