body {
	background-color:lightyellow;
}

.gc {
	margin:1em ;
	display:grid;
}

/* items internos a cada grid, no hay classe item*/
.gc > div {
	border: 1px dotted black;
}

/* aço no fuciona perque el primer fill es el script o un span 
(si está descomentat). */
.gc:first-child{
	border:2px solid green;
}
/* .gc:first-child => primer fill de qualsevol pare, sempre que ademés siga de la classe gc. */
/* .gc :first-child => primer fill de qualsevol pare que eixe pare siga de la classe gc (la primera cela) */


/*segon fill si ademés es de la classe gc.. no hi ha cap*/
.gc:nth-child(2){
	border:2px solid cyan;
}


/* el primero de cada tipo, debemos evitar html y body, 
porque la propiedad font se hereda y estaríamos efectivamente 
cmabiando la letra por defecto de todo el documento */
:not(body):not(html):first-of-type {
	font-weight: bold;
	text-decoration: underline;
	background-image:radial-gradient(circle, rgba(2,222,236,1) 0%, rgba(121,55,9,0.16428569718903185) 66%);
}


/* primer de cada tipo (primer div, primer span, etc.) si ademés es de la classe gc , per tant es 
el primer grid perque el primer span no es gc*/
.gc:first-of-type{
	background-color:lightgreen;
}

/* quart fill si ademés eixe quart fill es de la classe gc => açó es el primer grid*/
.gc:nth-child(4){
	border:4px solid green;
	background-color: beige;
}

/* segon de cada tipo, si ademés es de classe gc => la segon tabla*/
.gc:nth-of-type(2) {
	background-color:lightpink;
	grid-template-columns: auto auto auto;
}

/* quart element de la classe gc, com hi ha un span al principi de classe gc, aço es
la tercera grid. la núm 2*/ 
:nth-child(4 of .gc) {
	background-color:yellow;
	border:3px solid yellow;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto ;
}

:nth-child(4 of div.gc){
	border: solid red;
}

.gc:nth-child(6) {
	border:2px solid red;}



/*determino 3 columnas y 2 filas, que son insuficientes*/
/*.gc:nth-of-type(3) {
	background-color:lightgreen;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	
}*/

/*determino 3 columnas con anchura impuesta*/
XXXXXXXXXX {
	background-color:orange;
	/*	grid-template-columns: 100px auto auto; */
	grid-template-columns: 100px 20em 25%;
}

