
body{
	background-image:radial-gradient(circle,#ffffdd,#faddff);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin:0px;
}

/********************************************************/
.grid-item {
	border:1px solid;
	border-radius:5px;
}
.descripcion {
	margin-left:1em ;
	margin-right: 2em;
	margin-top:1em;

	border:1px solid grey;
	font-family: monospace;
}

.gc {
	display:grid;
	background-color:lightyellow;
	opacity:0.7;
	grid-template-columns: repeat(5, auto);
/*	grid-template-columns: repeat(2,minmax(50px,min-content)) minmax(100px, max-content) 2fr minmax(max-content,1fr);*/
	/*grid-template-rows:repeat(3,2em) auto repeat(2,1em) ;	*/
	margin:1em;
	border: 3px solid red;
	gap:0px;

	height:400px;
	
	/* hacer lo siguiente opcional */
/*	justify-items:end; /* Probar aquÃ­ start, center, stretch */
/*	align-items:start; /* Probar aquÃ­ start, end, stretch */
}

.gc .grid-item:nth-child(7) {
	background-color:red;
	color:white;
	
}

.gc .grid-item:nth-child(8) {
	background-color:darkgreen;
	color:white;
	height:150px;
	/*align-self: center;*/
	
}

.gc2 {
	display:grid;
	background-color:lightyellow;
	opacity:0.7;
	grid-template-columns: repeat(5, auto);
	grid-auto-rows: auto;
	margin:1em;
	border: 3px solid red;
	gap:0px;

	height:600px;
}

.gc2 .grid-item:nth-child(7) {
	background-color:red;
	color:white;
	
}

.gc2 .grid-item:nth-child(12) {
	--anchura-impuesta:500px;
	background-color:darkgreen;
	color:white;
	width:var(--anchura-impuesta);
	align-self: center;
}




.gc3 {
	display:grid;
	background-color:lightgreen;
	opacity:0.7;
	grid-template-columns: repeat(5, auto);
	grid-auto-rows: auto;
	margin:1em;
	border: 3px solid red;
	gap:0px;

	height:600px;
	
	align-items:  start;
	align-content: start;
	justify-items:end;
}

.gc3 .grid-item:nth-child(7) {
	background-color:red;
	color:white;
	
}

.gc3 .grid-item:nth-child(12) {
	--anchura-impuesta:500px;
	background-color:darkgreen;
	color:white;
	width:var(--anchura-impuesta);
	align-self: center;
}


