/*Notes: identificar numero de columnes
grandaria de cada columnakkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj99999999999999999999999999999999999999
*/
body{
	background-image:radial-gradient(circle,#ffffdd,#faddff);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin:0px;
}

/********************************************************/
.grid-item {
	border:1px solid;
	border-radius:5px;
	text-align: center;
	/*padding:1rem;*/
	/*padding:0rem 0rem 0rem 0rem;*/
	font-size:1em;
	line-height: 100%;
	
}


.gc {

	display: grid;
	grid-template-columns: repeat(2, min-content) auto 2fr minmax(max-content, 1fr);
	background-color:lightyellow;
	opacity:0.7;
	
	margin:1em;
	border: 3px solid red;
	gap:20px;

	min-height:600px;
	
	/* hacer lo siguiente opcional */
	/*	justify-items:end; /* Probar aquÃ­ start, center, stretch */
	/*	align-items:start; /* Probar aquÃ­ start, end, stretch */
}

.gc>div:nth-child(1){
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 1;
	max-width: fit-content;
	align-self: end;
}

.gc>div:nth-child(2){
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 6;
	background-color: red;
	opacity: 50%;
}

.gc>div:nth-child(3){
	grid-row-start: 3;
	grid-row-start: 4;
	grid-column-start: 3;
	grid-column-end: 4;
	max-height: fit-content;
	background-color: orangered;
	opacity: 50%;
	max-width: fit-content;
	align-self: end;
}

.gc>div:nth-child(4){
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 3;
	grid-column-end: 4;
	background-color: greenyellow;
	opacity: 50%;
	max-height: fit-content;
	max-width: fit-content;
	align-self: center;
}

.gc>div:nth-child(5){
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 6;
	background-color: green;
	opacity: 50%;
	max-height: fit-content;
	max-width: fit-content;
	align-self: center;
}
.gc>div:nth-child(6){
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column-start: 5;
	grid-column-end: 6;
	background-color: aquamarine;
}

.gc>div:nth-child(7){
	grid-row-start: 4;
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: aquamarine;
}

.gc .grid-item:nth-child(1) {
	background-color:blue;
}	
