body {
    background-color:lightyellow;
}

a { 
	line-height: 100%;
	background-color: white;
}

.cabecera {
    display:flex;
    flex-direction: row-reverse;
	width: 100%;
}

img {
height: 100%;
width: 250px;
}

.cabecera__menu{
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items:flex-start;
}

.cabecera__menuitem{

    border:2px solid lightcyan;
    background-color: deepskyblue;
    padding:1em 1em;
    text-align: center;
	height: fit-content;
   	line-height: 100%;
   
}

.cabecera__menuitem--special{
	align-self:flex-end;
}

.principal {
display: flex;
width: 100%;
height: 300px;
	
}

.principal__lateral {
	display: flex;
	width: 20%;
	height: 100%;
}

.principal__album{
	display: flex;
	flex-wrap:wrap;
	width: 80%;
	justify-content: space-between;
	align-items: flex-end;
}

.recuadro{
	flex-basis: 4em;
	margin:2px;
	background-color:lightseagreen;
	
}

.pie {
	display: flex;
	margin:4em;
	
}

.pie__dedo {
	border: 0px;
	margin: 0px;
	outline: 20px solid cyan;
	padding: 0px;
	width: 10%;
}

.pie__dedo~div{
	outline:2vw solid magenta;
	background-color: inherit;
	width: 40%;
}