body {
	display:flex;
	width:100%;
	justify-content:center;	
	align-items:center;
	flex-direction:column;

}

.espaciador {
	height:5em;

}

.box {
	background-color:pink;

}

.box:hover{
	height: 10em;
	width: 100%;
}

.box2 {
	height:4em;
	width:auto;
	background-color:pink;
	transition: 3s;
	font-family:inherit;
	border:1px solid red;
	outline:10px solid cyan;
}

.box2:hover{
	width: 100%;
	height: 10em;
	color: brown;
	border: dotted;
	transition-duration: 2s;
	font-family: 'Courier New', Courier, monospace;
	background-color: rgb(149, 199, 243);
}







