	.boxAnimadaAsimetrica {
	  width: 300px;
	  height: 300px;
	  margin: 1em;
	/*border:1em green solid;*/
	 /*outline:0.5em green solid;*/
	  background-color: red;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 2rem;
	  color: white;
	}

	.boxAnimadaAsimetrica:hover {
	  background-color: lime;
	  width: 400px;
	  color:black;
	  font-size:1.5rem;
	  transition-duration: 1s, 1.5s, 2s, 3s;
	  transition-delay: 0.5s, 3s, 2s, 3s;
	}


	.boxAnimadaAsimetrica {
	  transition-property: background, color, font-size, width;
	  transition-duration: 1s, 1s, 1s, 1s;

	}
	
	
	
	
	
