
body { display:flex;
	justify-content: space-between;
	flex-flow:column;
	align-items: center;
	gap:3em;
}

.box {
	color:darkblue;
	width:8em;
	height:5em;
	background-color:pink;
	position:relative;
	
}

.box::before{
	content:"";
	color:lightyellow;
	background-color:blue;
	width:100%;
	height:100%;
	/*display:block;*/
	position:absolute;
	left:-100%;
	display:flex;
	justify-content:center;
	align-items:center;
	transition-duration: 1s;


}

.box::after {
	content:"despues";
	color:red;
	background-color:lime;
	width:100%;
	height:100%;
	display:flex;
	position:absolute;
	left:100%;
	top:0%;
	align-items:flex-end;
	transition-duration: 1s;

}


.box:hover::before {
		transform: translateX(200%);
	
	opacity:0.5;
}


.box:hover::after {
		transform: translateX(-200%);

	opacity:0.5;
	
}

.SO {
	overflow:hidden;

}













