body {
    background:lightyellow;
    display:flex;
    flex-direction:column;
    align-items:center;

}

.descripcion {
	margin-left:1em ;
	margin-right: 2em;
	margin-top:1em;
    font-size:2em;

	border:1px solid grey;
	font-family: monospace;
}

.gc {
    display:grid;
    width:100%;
}

.gc > div {
    border:1px solid grey;

}

.gc:nth-child(1 of .gc){
    background:lightblue;
    grid-template-columns:auto auto auto;
    width:initial;
}


.gc:nth-child(2 of .gc){
    background:darkolivegreen;
    color:white;
    grid-template-columns:auto auto auto;
}

.gc:nth-child(3 of .gc){
	background-color:lightgreen;
    grid-template-columns:auto auto 1fr;
    grid-template-rows: 60px auto;
}

/*determino 3 columnas y 2 filas, grid-auto-flow*/
.gc:nth-child(4 of .gc)  {
	background-color:lightgreen;
	grid-auto-flow:column;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}

/*determino 3 columnas con anchura impuesta*/
.gc:nth-child(5 of .gc) {
	background-color:lightblue;
	/*	grid-template-columns: 100px auto auto; */
	grid-template-columns: 100px 20em 25%;
}

/*determino 3 columnas y uso la unidad "fr" */
/*TABLA 5*/
.gc:nth-child(6 of .gc) {
	background-image:radial-gradient(circle, rgba(2,222,236,1) 0%, rgba(121,55,9,0.16428569718903185) 66%);

	grid-template-columns: 200px 3fr 1fr;
}

/*determino 3 columnas con fr y meter contenido excesivo en
la última columna, para ver si gana el contenido o 1fr */
.gc:nth-child(7 of .gc) {
	background-color:darkgrey;
	color:white;
	grid-template-columns: 200px 3fr 1fr;
}

/* ¡Pelea! el porcentaje de la última columna contra el
contenido de la última columna. Probar en paraules més
llargues i curtes i en fr en la última fila*/
.gc:nth-child(8 of .gc) {
	background-color:chartreuse;
	grid-template-columns: 400px 3fr 10%;
}


/* repeat (simple)*/
.gc:nth-child(9 of .gc) {
	background-color:darksalmon;
	grid-template-columns: 1fr repeat(2,10em) 1fr ;
}


/* minmax da prioridad a el redimensionado de la columna
aprovechando el espacio libre si está entre el mínimo y elmáximo.
por encima delmáximo o por debajo del mínimo no se redimensiona*/
.gc:nth-child(10 of .gc) {
	background-color:white;
	grid-template-columns: minmax(400px, 700px) auto auto ;
}


/* Damos contenido a las otras celdas para experimentar cómo
encoger la primera columna que lleva un minmax. Dar 2fr de máximo
es un poco estúpido,porque fr no marca máximo, absorbe todo
el espacio libre que pueda quedar. Pero no es estúpdio del todo
porque marcas un mínimo pero no un máximo*/
.gc:nth-child(11 of .gc) {
	background-color:salmon;
	color:white;
/*	grid-template-columns: minmax(400px , 1fr) auto 1fr ;*/
    grid-template-columns: minmax(40% , 1fr) auto 1fr ;
}


/* Damos contenido a las otras celdas para experimentar cómo
encoger la primera columna que lleva un minmax. */
.gc:nth-child(12 of .gc) {
	background-color:papayawhip;
	grid-template-columns: minmax(40% , 60%) auto auto ;
	border:1px solid yellow;
}

/* min-content y max-content establecen un ancho fijo basado
en el contenido */
.gc:nth-child(13 of .gc) {
	background-color:blue;
	color:yellow;
	grid-template-columns: 100px min-content max-content  ;
}


/* min-content y max-content establecen un ancho fijo basado
en el contenido, esto se combina con min-max fácilmente */
.gc:nth-child(14 of .gc) {
	background-color:lightblue;
	grid-template-columns: repeat(3, minmax(min-content,max-content)) ;
}


/* min-content y max-content establecen un ancho fijo basado
en el contenido, esto se combina con min-max fácilmente */
.gc:nth-child(15 of .gc) {
	background-color:red;
	grid-template-columns: repeat(3, auto) ;
	grid-auto-rows:100px;
}

