body div {
	margin:2em;

}

.item{
	border:1px solid gray;
	margin:2px;
}



.grid-basico {
	display:grid;
	width:50%;
	border:1px dashed blue;
	grid-template-columns: auto auto auto ;
}


.grid-dimensionado {
	display:grid;
	width:50%;
	border:1px dashed blue;
	grid-template-columns: 2fr 1fr 350px ;
	grid-template-rows: 2em 2.5em 3em auto auto;
}

.item-subgrid{
	border:1px solid red;
	margin:2px;
	display:grid;

}
