body {
	background-color:lightyellow;
	display:flex;
	align-items:center;
	flex-direction:column;
}

.gc { 

	display:grid;
	grid-template-columns:auto auto auto;
	
	/*	grid-auto-flow:row; no necesario, por defecto */
	width:70vw;
	column-gap:5px;
	row-gap:5px;
 }
 
.gc > div {
	border:1px solid grey;
	border-radius:5px;

}
 
.descripcion {
	align-self:stretch;

	margin-left:10em ;
	margin-right: 10em;
	margin-top:1em;
	margin-bottom:1em;

	border:1px dashed grey;
	font-family: monospace;
}


/***** Segon taula ****/

body div:nth-child(2 of .gc) {
	background:yellow;
}

/****** quart element *****/

div:nth-child(2 of .gc) > div:nth-child(4) {
	background:red;
	color:white;
}


/***** tercera taula ****/

body div:nth-child(3 of .gc) {
	background:green;
	color:yellow;
}

/****** quart element *****/

div:nth-child(3 of .gc) > div:nth-child(4) {
	background:yellow;
	color:green;
	grid-column-start: 3;
}

/***** quarta taula ****/

body div:nth-child(4 of .gc) {
	background:green;
	color:yellow;
}

/****** quart element *****/

div:nth-child(4 of .gc) > div:nth-child(4) {
	background:yellow;
	color:green;
	grid-column-start: 1;
}



/********* 5 BLOQUE Grid + items *************/
.gc:nth-child(5 of .gc) {
	background:red;
		color:white;
}

.gc:nth-child(5 of .gc) > :nth-child(5) {
	color:black;
	background-color:yellow;
	grid-column-start: 4 ;

}



/********* 6 BLOQUE Grid + items *************/
/********** Ejercicio **********************/
.gc:nth-child(6 of .gc) {
	background:salmon;
		color:darkblue;;
}

.gc:nth-child(6 of .gc) > :nth-child(2) {
	color:black;
	background-color:yellow;
	grid-column-start: 2 ;
}

.gc:nth-child(6 of .gc) > :nth-child(3) {
	color:black;
	background-color:turquoise;
	grid-column-start: 3 ;
}
.gc:nth-child(6 of .gc) > :nth-child(4) {
	color:black;
	background-color:white;
	grid-column-start: 3 ;
}
.gc:nth-child(6 of .gc) > :nth-child(5) {
	color:lightblue;
	background-color:darkblue;
	grid-column-start: 3 ;
}



/********* 7 BLOQUE Grid + items *************/
.gc:nth-child(7 of .gc) {
	background:green;
		color:white;
}

.gc:nth-child(7 of .gc) > :nth-child(3) {
	color:black;
	background-color:yellow;
	grid-row-start: 3 ;
}


/********* 8 BLOQUE Grid + items *************/
.gc:nth-child(8 of .gc) {
	background:green;
		color:white;
}

.gc:nth-child(8 of .gc) > :nth-child(3) {
	color:black;
	background-color:yellow;
	grid-row-start: 2 ;
}
.gc:nth-child(8 of .gc) > :nth-child(7) {
	color:blue;
	background-color:white;
	grid-row-start: 2 ;
}

/********* 9 BLOQUE Grid + items *************/
.gc:nth-child(9 of .gc) {
	background:pink;
		color:blak;
	column-gap: 5px;
	row-gap: 5px;
	grid-template-rows: repeat(6,1fr) ;
}

.gc:nth-child(9 of .gc) > :nth-child(3) {
	color:black;
	background-color:yellow;
	grid-row-start: 6 ;
}


/********* 10 BLOQUE Grid + items *************/
.gc:nth-child(10 of .gc) {
	background:lightgreen;
		color:white;
}

.gc:nth-child(10 of .gc) > :nth-child(3) {
	color:darkgrey;
	background-color:yellow;
	grid-row-start: 2 ;
}
.gc:nth-child(10 of .gc) > :nth-child(7) {
	color:black;
	background-color:lightpink;
	grid-row-start: 2 ;
}
.gc:nth-child(10 of .gc) > :nth-child(2) {
	color:white;
	background-color:darkred;
	border:1px solid red;
	grid-column-start: 1 ;
}


/********* 11  *************/
.gc:nth-child(11 of .gc) {
	background:darkgray;
		color:white;
}

.gc:nth-child(11 of .gc) > :nth-child(3) {
	color:orange;
	background-color:darkblue;
	grid-row-start: 1 ;
	grid-row-end: 2 ;
}

.gc:nth-child(11 of .gc) > :nth-child(4) {
	color:cyan;
	background-color:darkred;
	grid-row-start: 1 ;
	grid-row-end: 3 ;
}




/********* 12  *************/
.gc:nth-child(12 of .gc) {
	background:darkgray;
		color:white;
		grid-template-rows:repeat(5,1fr);
}

.gc:nth-child(12 of .gc) > :nth-child(3) {
	color:orange;
	background-color:darkblue;
	grid-column-start: 1 ;
	grid-column-end: 3 ;
}

.gc:nth-child(12 of .gc) > :nth-child(4) {
	color:cyan;
	background-color:darkred;
	grid-row-start: 1 ;
	grid-row-end: 3 ;
}

/********* 13  *************/
.gc:nth-child(13 of .gc) {
	background:lightblue;
		color:maroon;

}

.gc:nth-child(13 of .gc) > :nth-child(2) {
	color:orange;
	background-color:darkblue;
/*	grid-column-start: 2 ;*/
	grid-column-end: span 2;
	/*grid-row-start:1;*/
	grid-row-end: span 2;
}


/********* 14  *************/
.gc:nth-child(14 of .gc) {
	background:violet;
		color:lightyellow;
		grid-template-columns:repeat(4 , 1fr);

}

.gc:nth-child(14 of .gc) > :nth-child(1) {
	color:orange;
	background-color:darkblue;
	grid-column-start: 2 ;
	grid-column-end: 5 ;
	grid-row-start:1;
	grid-row-end:3;
}

.gc:nth-child(14 of .gc) > :nth-child(4) {
	background-color:white;
	color:red;
	grid-column-start:5;
	grid-column-end:8;
	grid-row-start:2;
}




/********* 15  *************/
.gc:nth-child(15 of .gc) {
	background:white;
		color:darkred;
		grid-template-columns:repeat(4 , 1fr);

}

.gc:nth-child(15 of .gc) > :nth-child(1) {
	color:orange;
	background-color:lightgrey;
	grid-column-start: 2 ;
	grid-column-end: 5 ;
	grid-row-start:1;
	grid-row-end:3;
}

.gc:nth-child(15 of .gc) > :nth-child(4) {
	background-color: rgb(0, 245, 33, 0.1);
	color:red;
	opacity:0.9;
	grid-column-start:1;
	grid-column-end:4;
	grid-row-start:2;
	grid-row-end:3;
}



/********* 16  *************/
.gc:nth-child(16 of .gc) {
	background:darkgray;
		color:white;
		grid-template-columns: auto auto auto;
		row-gap:initial;
}

.gc:nth-child(16 of .gc) > :nth-child(3) {
	color:orange;
	background-color:darkblue;
	grid-column-start: 1 ;
	grid-column-end: 3 ;
}

.gc:nth-child(16 of .gc) > :nth-child(4) {
	color:cyan;
	background-color:darkred;
	grid-row-start: 1 ;
	grid-row-end: 7 ;
}



