body {
	background-color:lightyellow;
	display:flex;
	align-items:center;
	flex-direction:column;
}

.gc { 

	display:grid;
	grid-template-columns:auto auto auto;
	width:70vw;
	column-gap:5px;
	row-gap:5px;
 }
 
.gc > div {
	border:1px solid grey;
	border-radius:5px;

}
 
.descripcion {
	align-self:stretch;

	margin-left:10em ;
	margin-right: 10em;
	margin-top:1em;
	margin-bottom:1em;

	border:1px dashed grey;
	font-family: monospace;
}


/********* BLOQUE Grid + items *************/
.gc:nth-child(1 of .gc) {
	background:yellow;
	width:initial;
}

.gc:nth-child(1 of .gc) > :nth-child(4) {
	background-color:red;
	color:white;
}


/********* BLOQUE Grid + items *************/
.gc:nth-child(2 of .gc) {
	background:lightpink;
	height:15em;
}

/********* BLOQUE Grid + items *************/

.gc:nth-child(3 of .gc) {
	background:blue;
	color:white;
	height:15em;
}

.gc:nth-child(3 of .gc) > div {
	width:max-content;
	background-color:darkred;
}



/********* BLOQUE Grid + items *************/
.gc:nth-child(4 of .gc) {
	background:lightblue;
	color:red;
	height:15em;
}

.gc:nth-child(4 of .gc) > div {
	background-color:lightpink;
	color:red;
	width:max-content;
	height:max-content;
}


/********* BLOQUE Grid + items *************/
.gc:nth-child(5 of .gc) {
	background:pink;
	color:red;
	height:15em;

	justify-content:start;

}

.gc:nth-child(5 of .gc) > div {
	background-color:lightpink;
	color:blue;
	width:max-content;
	height:max-content;
}


/********* BLOQUE Grid + items *************/
.gc:nth-child(6 of .gc) {
	background:green;
	color:black;
	height:15em;

	justify-content:end;

}

.gc:nth-child(6 of .gc) > div {
	background-color:lightpink;
	color:blue;
	width:max-content;
	height:max-content;
}



/********* BLOQUE Grid + items *************/
.gc:nth-child(7 of .gc) {
	background:green;
	color:black;
	height:15em;

	justify-content:center;

}

.gc:nth-child(7 of .gc) > div {
	background-color:lightpink;
	color:blue;
	width:max-content;
	height:max-content;
}

/********* BLOQUE Grid + items *************/
.gc:nth-child(8 of .gc) {
	background:pink;
	color:red;
	height:15em;

	justify-content:start;

}

.gc:nth-child(8 of .gc) > div {
	background-color:lightpink;
	color:blue;
	width:max-content;
	height:max-content;
}

