
/*:root {
	font-size:0.8cm;
}*/
/*
body {
	font-size:1.5cm;
}*/

/* cuando se activa la clase anterior del body, ésta clase muestra que la fuente root no
cambia y los div con esta clase siguen siendo normales en cuanto a fuente . cuando activamos la
clase :root anterior, ésto sí cambia */
.rem1{

}

.emx14 {
	border: 1px solid gray;
	}

.remx14 {
	background-color:lightblue;
	}
	
.inicial{

	}

h2{
	
}

/*span {
	font-size: 50%;
}*/

/*
div > span {
	font-size: inherit;
}*/

.ancho400{
	
	border:1px solid red;
	
}

.mitadAncho {
	
	border:1px solid blue;


}

.tercioPantalla{
	border:1px solid orange;

	
	}

.decimoAltoPantalla{
	border:1px solid red;

	}
	
.decimoAltoPantallaP{
	border:1px dashed magenta;

	}


.decimoAnchoAlto{
	border:1px solid green;
	
	}

.cmcm { 
	
}

.cmmm { 
	
}

.cmin { 
	
}

.cmpx { 

	
}

.cmpt { 
	
}
