body {
	background:lightyellow;
}

.contenedor, div  {
	margin:10px;

}

.elem {
	margin:3px;
	border:1px solid black;
	padding:4px;
	width:2em;
	display:inline-block;
}




/*box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;*/
/*box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;*/
/* 	background-image: url("850csi.jpeg"); */
/* border-radius: 2px*/
/*
	background-image: url("../imagenes/mortadelo.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
	*/

.descripcion{
	padding:.3em;
	font-family:'Courier New', Courier, monospace;
	font-size:1rem;
}


:first-child {
	border : 2px solid blue;
}


 {
	background-image: url("../imagenes/mortadelo.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
}

{
	border-radius: 5px;
	background-color:lightgreen;
}

{
	outline:4px solid pink;
}


 {
	border:10px solid red;
}

 {
	border:10px solid red;
}

 {
	outline: 3px dotted darkblue;
}



 {
	font-size:0.76em;
}

 {
	background-color:blue;
	color:white;
}

/* An + B     A: paso  B: desplazamiento inicial  + - afectan a la n */

 {
box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}




/* 2, 5, 8  de un total de 16 (clase supercontenedor) */
{
	background-color:lightblue;

}


/* 2, 5, 8  de un total de 16 (clase supercontenedor) */


 {
	background:lightseagreen;
	}
{
	outline:2px dotted red;
}

{
	color:white;
	font-weight: bold;

}

{
	border:4px solid black;
}

 {
	color:white;
}

 {
}






